@import '../../../../styles/variables';

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 64px 24px;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        &__avatar {
            height: 180px;
            width: 180px;
            object-fit: cover;
            border-radius: 12px;
            box-shadow: $default-shadow;
            background-color: rgb(240, 240, 240);
        }

        &__name {
            font-size: 24px;
            font-weight: 500;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 450px;

        &__btn {
            &__pill {
                background: linear-gradient(90deg, var(--theme-main), rgba(var(--theme-main-rgb), 0.6));
                color: var(--theme-main-contrast);
                font-size: 0.9em;
                padding: 2px 12px;
                border-radius: 20px;

                &--error {
                    background: tomato !important;
                }
            }
        }
    }
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background: rgb(240, 240, 240);
}