main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    min-height: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;

    .tagline {
        text-align: center;
        opacity: 0.55;
        font-style: italic;
    }

    .link-text {
        margin: 0;
        opacity: 0.75;
        text-align: center;

        a {
            color: inherit;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        button {
            appearance: none;
            border: none;
            background-color: var(--theme-main);
            font: inherit;
            color: var(--theme-main-contrast);
            padding: 12px 24px;
            font-size: 1.2em;
            font-weight: 500;

            border-radius: 40px;
        }
    }
}