@import '../../../../styles/variables';
@import '../../../../styles/utils';

.layout {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    width: 100%;
    height: 100%;
    gap: 24px;

    &__head {
        @include no-select;

        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        align-items: center;
        gap: 24px;

        &__left,
        &__right {
            display: flex;
            gap: 12px;
        }

        &__right {
            justify-content: flex-end;
        }

        &__center {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--theme-background--contrast);
        }
    }

    &--type {
        &--default {
            .layout__head {
                background-color: var(--theme-background);
                border-bottom: solid 1px rgb(240, 240, 240);
                padding: 24px;
            }
        }

        &--transparent {
            .layout__head {
                padding: 24px 24px 0 24px;
            }
        }

        &--hidden {
            grid-template-rows: minmax(0, 1fr);
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        gap: 12px;
        
        &__head {
            gap: 12px;

            &__center {
                text-align: left;
                font-size: 1.2rem;
            }
        }

        &--type {
            &--default {
                .layout__head {
                    padding: 12px;
                }
            }
    
            &--transparent {
                .layout__head {
                    padding: 12px 12px 0 12px;
                }
            }
        }
    }
}

// .layout {
//     $head-size: 70px;

//     height: 100%;
//     width: 100%;
//     display: grid;
//     grid-template-rows: auto minmax(0, 1fr);
//     position: relative;

//     &--no-header {
//         grid-template-rows: minmax(0, 1fr);
//     }
    
//     &__head {
//         @include no-select;

//         height: $head-size;

//         &__back {
//             $size: 36px;

//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: var(--theme-background);
//             border-radius: $size;
//             width: $size;
//             height: $size;
//             text-decoration: none;
//             color: var(--theme-background--contrast);
//             border: solid 1px rgb(240, 240, 240);
//             position: fixed;
//             top: $head-size / 2;
//             margin-left: $head-size / 2;
//             translate: -50% -50%;
//             box-shadow: $default-shadow;
//             z-index: 100;

//             i {
//                 margin-left: -2px;
//             }
//         }

//         &__title {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             height: $head-size;
//             font-size: 1.4rem;
//             font-weight: 500;
//             color: var(--theme-background--contrast);
//         }
//     }

//     @media screen and (max-width: $mobile-breakpoint) {
//         $head-size: 60px;

//         &__head {
//             height: $head-size;

//             &__back {
//                 top: $head-size / 2;
//                 margin-left: $head-size / 2;
//             }

//             &__title {
//                 height: $head-size;
//             }
//         }
//     }
// }