@import '../../../../styles/variables';
@import '../../../../styles/utils';

.layout {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    width: 100%;
    height: 100%;
    gap: 24px;

    &__head {
        @include no-select;

        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        align-items: center;
        gap: 24px;

        &__left,
        &__right {
            display: flex;
            gap: 12px;
        }

        &__right {
            justify-content: flex-end;
        }

        &__center {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--theme-background--contrast);
        }
    }

    &--type {
        &--default {
            .layout__head {
                background-color: var(--theme-background);
                border-bottom: solid 1px rgb(240, 240, 240);
                padding: 24px;
            }
        }

        &--transparent {
            .layout__head {
                padding: 24px 24px 0 24px;
            }
        }

        &--hidden {
            grid-template-rows: minmax(0, 1fr);
        }
    }

    &--no-gap {
        gap: 0px !important;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        gap: 12px;
        
        &__head {
            gap: 12px;

            &__center {
                text-align: left;
                font-size: 1.2rem;
            }
        }

        &--type {
            &--default {
                .layout__head {
                    padding: 12px;
                }
            }
    
            &--transparent {
                .layout__head {
                    padding: 24px 12px 0 12px;
                }
            }
        }
    }
}
