.default-widget {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: none;
    visibility: hidden;
    opacity: 0;
}

.control-view {
    display: flex;
    border-radius: 6px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    
    &--no-image {
        border: dashed 2px var(--theme-main);
        color: var(--theme-main);
        justify-content: center;
        align-items: center;
        font-size: 2em;
        transition: ease-in 0.1s background-color;

        @media (hover: hover) {
            &:hover {
                background-color: rgba(var(--theme-main-rgb), 0.1);
                transition: ease-in 0.05s background-color;
            }
        }
    }

    &--image {
        background-color: rgba(var(--theme-main-rgb), 0.25);
    }

    &__image {
        border-radius: 6px;
    }

    &__delete-btn {
        position: absolute;
        top: 0;
        right: 0;
        translate: 50% -50%;
        height: 36px;
        width: 36px;
        appearance: none;
        background-color: var(--theme-main-contrast);
        color: var(--theme-main);
        border: solid 1px rgb(240, 240, 240);
        border-radius: 36px;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}