@import '../../styles/utils';
@import '../../styles/variables';

.navigation {
    @include no-select;

    background-color: white;
    border-right: solid 1px rgb(240, 240, 240);
    height: 100%;
    overflow-y: auto;
    padding: 24px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    min-width: 250px;
    width: 33vw;
    gap: 24px;

    &__top {
        display: flex;
        flex-direction: column;
        gap: 36px;

        &__brand {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            
            &__logo {
                width: 100%;
                max-width: 90px;
            }

            &__name {
                font-size: 1.4em;
                font-weight: 600;
            }
        }

        &__menu {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;

            &__item {
                list-style: none;

                &__content {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr) auto;
                    align-items: center;
                    gap: 12px;
                    font-weight: 500;
                    font-size: 1.1em;
                    width: 100%;

                    &__text {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: left;
                    }

                    &__pill {
                        background: linear-gradient(90deg, var(--theme-main), rgba(var(--theme-main-rgb), 0.6));
                        color: var(--theme-main-contrast);
                        font-size: 0.9em;
                        padding: 2px 12px;
                        border-radius: 20px;

                        &--error {
                            background: tomato !important;
                        }
                    }

                    &--active {
                        .navigation__top__menu__item__content {
                            &__pill {
                                background: var(--theme-main-contrast);
                                color: var(--theme-main);

                                &--error {
                                    color: white !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        gap: 12px;
        justify-content: space-between;

        &__left,
        &__right {
            display: flex;
            gap: 12px;
            padding: 0;
            margin: 0;

            &__item {
                list-style: none;
            }
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        height: auto;
        width: 100%;
        max-width: none;
        min-width: none;
        border: none;
        padding: 8px 8px max(env(safe-area-inset-bottom), 8px) 8px;
        border-top: solid 1px rgb(240, 240, 240);

        &__top {
            &__menu {
                flex-direction: row;
                justify-content: space-around;

                &__item {
                    &__content {
                        // padding: 8px 16px;
                        gap: 2px;
                        position: relative;
                        display: flex;
                        justify-content: center;

                        &__icon {
                            font-size: 1.2em;
                        }

                        &__pill {
                            position: absolute;
                            top: -12px;
                            right: -24px;
                            font-size: 0.65em;
                            padding: 0 8px;
                            box-shadow: $default-shadow;
                        }

                        &--active {
                            .navigation__top__menu__item__content {
                                &__icon {
                                    color: var(--theme-main);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
