@import '../../styles/utils';
@import '../../styles/variables';

nav {
    @include no-select;

    border-right: solid 1px rgb(240, 240, 240);
    height: 100%;
    overflow-y: auto;
    padding: 24px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    min-width: 250px;
    width: 33vw;
    gap: 24px;

    .top-nav {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .collapse-btn {
            appearance: none;
            background: none;
            border: none;
            display: flex;
            width: fit-content;
            font-size: 1.4em;
            padding: 8px;
            border-radius: 3px;
            cursor: pointer;

            @media (hover: hover) {
                &:hover {
                    background-color: rgba(var(--theme-background-contrast-rgb), 0.05);
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul.main-nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .nav-item {
            list-style: none;

            &__link {
                color: var(--theme-background-contrast);
                width: 100%;
                display: block;
                padding: 12px 24px;
                box-sizing: border-box;
                border-radius: 6px;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 12px;
                font-weight: 500;
                font-size: 1.1em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: ease-in 0.025s background-color, ease-in scale 0.1s;

                &__icon {
                    opacity: 0.45;
                    height: 28px;
                    width: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &__avatar {
                    height: 28px;
                    width: 28px;
                    border-radius: 36px;
                }

                &--active {
                    background: linear-gradient(90deg, var(--theme-main), rgba(var(--theme-main-rgb), 0.6));
                    color: var(--theme-main-contrast);
                    box-shadow: $default-shadow;

                    .nav-item__link__icon {
                        opacity: 1;
                    }
                }

                &--not-active {
                    @media (hover: hover) {
                        &:hover {
                            background-color: rgba(var(--theme-main-rgb), 0.1);
                        }
                    }
                }
            }

            @media (hover: hover) {
                &:hover {
                    .nav-item__link---not-active {
                        background-color: rgba(var(--theme-main-rgb), 0.1);
                        transition: ease-in 0.05s background-color, ease-in scale 0.1s;
                    }
                }
            }
        }
    }

    .bottom-nav {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        ul {
            display: flex;
            gap: 12px;
    
            .nav-item {
                list-style: none;
    
                &__link {
                    height: 22px;
                    width: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6px;
                    font-size: 1.2em;
                    border-radius: 100px;
                    text-decoration: none;
                    color: rgba(var(--theme-background-contrast-rgb), 0.75);
                }
    
                @media (hover: hover) {
                    &:hover {
                        .nav-item__link {
                            background-color: rgba(var(--theme-background-contrast-rgb), 0.05);
                            transition: ease-in 0.05s background-color;
                        }
                    }
                }
            }
        }
    }

    &.collapsed {
        width: 76px;
        min-width: 0;

        .top-nav {
            align-items: center;
        }
        
        ul.main-nav {
            .nav-item {
                &__link {
                    padding: 12px;
                    aspect-ratio: 1;
                    align-items: center;
                    justify-content: center;
                    &__content {
                        display: none;
                    }
                }
            }
        }

        .bottom-nav {
            flex-direction: column;
            align-items: center;

            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        height: auto;
        width: 100%;
        max-width: none;
        min-width: none;
        border: none;
        padding: 8px;
        border-top: solid 1px rgb(240, 240, 240);
        
        .collapse-btn,
        .bottom-nav {
            display: none !important;
            position: absolute;
            top: -1000px;
            left: -1000px;
        }

        ul.main-nav {
            flex-direction: row;
            justify-content: space-around;

            .nav-item {
                &__link {
                    flex-direction: column;
                    padding: 8px 16px;
                    gap: 2px;
                    font-size: 0.75em;
                    color: rgba(var(--theme-background-contrast-rgb), 0.55);

                    &__icon {
                        font-size: 1.8em;
                        opacity: 1;
                    }

                    &__content {
                        display: none;
                    }

                    &--active {
                        background: none;
                        color: var(--theme-main);
                        box-shadow: none;
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        .nav-item__link---not-active {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}