@import '../styles/variables';

.app-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(0, 1fr);
    height: 100%;

    .app-content {
        background: linear-gradient(180deg, var(--theme-background-secondary) 0%, rgba(var(--theme-main-rgb), 0.075) 100%);
        overflow-y: auto;
    }

    &--no-nav {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        
        .app-content {
            order: 0;
        }

        .app-nav {
            order: 1;
        }
    }
}