@import '../../../../styles/variables';

.btn {
    appearance: none;
    background-color: var(--theme-background);
    color: var(--theme-background-contrast);
    font: inherit;
    padding: 12px 24px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
    text-decoration: none;

    &:disabled {
        opacity: 0.55;
    }

    &__content {
        display: flex;
        height: 100%;
        gap: 12px;
        align-items: center;
        justify-content: center;
        transition: ease-in 0.1s all;
    }

    &__loading {
        position: absolute;
        top: 50%;
        left: 100%;
        translate: -50% -50%;
        opacity: 0;
        transition: ease-in 0.1s all;
    }

    &--loading {
        .btn__content {
            opacity: 0;
            translate: -100%;
            transition: ease-in 0.1s all;
        }

        .btn__loading {
            left: 50%;
            opacity: 1;
            transition: ease-in 0.1s all;
        }
    }

    &--full-width {
        &--always {
            border-top: solid 1px rgb(240, 240, 240);
            border-bottom: solid 1px rgb(240, 240, 240);
        }

        &--never,
        &--mobile {
            border: solid 1px rgb(240, 240, 240);
            border-radius: 6px;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        &--full-width {
            &--mobile {
                border-top: solid 1px rgb(240, 240, 240);
                border-bottom: solid 1px rgb(240, 240, 240);
                border-left: none;
                border-right: none;
                border-radius: 0;
            }
        }
    }

    &--style {
        &--transparent {
            border-color: transparent;
            background: transparent;
        }

        &--primary {
            background: linear-gradient(90deg, var(--theme-main), var(--theme-main-light));
            color: var(--theme-main-contrast);
            border: none;
        }

        &--danger {
            background-color: tomato;
            color: white;
            border: none;
        }
    }

    &--icon-only {
        height: 46px;
        width: 46px;
        padding: 0;
        font-size: 1.05em;
    }

    &--no-padding {
        padding: 0;
    }
}