main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 600px;
    padding: 24px;
    gap: 24px;
    margin: 0 auto;

    .table-of-content {
        li {
            font-weight: 500;

            a {
                color: inherit;
            }
        }
    }
}