@import '../../../../styles/variables';
@import '../../../../styles/utils';

.about-card {
    @include no-select;

    appearance: none;
    background-color: var(--theme-background);
    color: var(--theme-background-contrast);
    border: solid 1px rgb(240, 240, 240);
    border-radius: 12px;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: fill;
        object-position: center;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    &__content {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__title {
            font-size: 1.4em;
            font-weight: 600;
        }

        &__subtitle {
            opacity: 0.55;
        }
    }
}