@import '../../../../styles/utils';
@import '../../../../styles/variables';

main {
    @include no-select;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    min-height: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    
    .brand {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        margin-bottom: 24px;

        &__logo {
            width: 75px;
            aspect-ratio: 1;
        }

        &__name {
            font-size: 1.3em;
            font-weight: 500;
        }

        @media screen and (min-width: $mobile-breakpoint) {
            display: none;
        }
    }
    
    .tagline {
        text-align: center;
        opacity: 0.55;
        font-style: italic;
    }

    .link-text {
        margin: 0;
        opacity: 0.75;
        text-align: center;

        a {
            color: inherit;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        button {
            appearance: none;
            border: none;
            background-color: var(--theme-main);
            font: inherit;
            color: var(--theme-main-contrast);
            padding: 12px 24px;
            font-size: 1.2em;
            font-weight: 500;

            border-radius: 40px;

            &:disabled {
                opacity: 0.55;
            }

            &:not(:disabled) {
                cursor: pointer;
            }
        }

        .form-messages {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 24px;
            gap: 12px;

            p {
                margin: 0;

                &.form-error {
                    color: tomato;
                    font-style: italic;
                    font-weight: 500;
                }
            }
        }
    }
}