@import '../../../../styles/variables';

main {
    padding: 0 24px 24px 24px;
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0 12px 12px 12px;
    }
}