@import '../../../../styles/variables';
@import '../../../../styles/utils';

main {
    padding: 0 24px 24px 24px;
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0 12px 12px 12px;
    }

    .error-message {
        @include no-select;
    
        padding: 24px;
        box-sizing: border-box;
        text-align: center;
        font-style: italic;
        font-size: 1.15em;
        font-weight: 500;
        opacity: 0.55;
    }
}