@import '../../../../styles/variables';

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding: 24px;
    padding-bottom: 100px;

    a {
        color: rgba(var(--theme-background-contrast-rgb), 0.75);
    }

    &__title {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 36px;
        opacity: 0.75;

        i {
            margin-right: 6px;
        }
    }

    section {
        background-color: var(--theme-background);
        padding: 24px;
        border: solid 1px rgb(240, 240, 240);
        border-radius: 12px;

        .form__title {
            font-size: 1.1em;
            opacity: 0.65;
        }

        mat-form-field {
            width: 100%;

            mat-label {
                i {
                    margin-right: 6px;
                }
            }
        }
    }


    &__pictures {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 24px;

        &__control {
            aspect-ratio: 9/16;
            width: 100%;
        }

        @media screen and (min-width: $mobile-breakpoint) {
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        }
    }

    &__submit {
        appearance: none;
        border: none;
        position: fixed;
        bottom: 24px;
        right: 24px;
        background-color: var(--theme-main);
        color: var(--theme-main-contrast);
        box-shadow: $default-shadow;
        font: inherit;
        font-size: 1.3em;
        padding: 12px 24px;
        border-radius: 40px;

        &:disabled {
            opacity: 0.55;
        }

        i {
            margin-right: 6px;
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        gap: 12px;
        padding: 12px;
        padding-bottom: 72px;

        section {
            padding: 12px;
        }

        &__pictures {
            gap: 12px;
        }

        &__submit {
            bottom: 61px;
            left: 50%;
            translate: -50% 0;
            margin-bottom: 12px;
            width: calc(100% - 24px);
            max-width: 225px;
        }
    }
}