.interactable {
    &:not(:disabled):not(.disabled) {
        transition: ease-in scale 0.1s;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                scale: 1.05;
            }
        }

        &:active {
            scale: 0.95;
        }
    }
}

.interactable--large {
    &:not(:disabled):not(.disabled) {
        transition: ease-in scale 0.1s;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                scale: 1.1;
            }
        }

        &:active {
            scale: 0.925;
        }
    }
}


.interactable--small {
    &:not(:disabled):not(.disabled) {
        transition: ease-in scale 0.1s;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                scale: 1.035;
            }
        }

        &:active {
            scale: 0.975;
        }
    }
}