@import '../../../../styles/utils';
@import '../../../../styles/variables';

.user-profile {
    @include no-select;

    $spacing: 18px;
    $outer-radius: 16px;
    $inner-radius: 10px;

    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--theme-background);
    border: solid 1px rgb(240, 240, 240);
    border-radius: $outer-radius;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: $default-shadow;
    transition: ease-in 0.2s opacity, ease-in 0.2s scale;
    

    &__container {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: $spacing;

        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;  /* Safari and Chrome */
        }
    }

    &__main {
        height: 100%;
        border-radius: $outer-radius;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;

        &__picture {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &__content {
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.9);
            border-top-left-radius: $inner-radius;
            border-top-right-radius: $inner-radius;
            padding: $spacing;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;

            &__info {
                p {
                    margin: 0;
                    width: 100%;
                    overflow-x: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    flex-shrink: 0;
                    line-height: 1.2em;
                }
    
                &__name {
                    font-size: 1.9em;
                    font-weight: 800;
                    margin: 0;
                }
    
                &__subtitle {
                    margin: 0;
                    font-size: 1.3em;
                    font-weight: 800;
                    opacity: 0.55;
                }
            }

            @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                background-color: rgba(255, 255, 255, .35);
                -webkit-backdrop-filter: blur(2em);
                backdrop-filter: blur(2em);
            }
        }

        &__swipe {
            position: relative;
            z-index: 1;
            background-color: white;
            padding: $spacing;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            box-sizing: border-box;
            transition: ease-in 0.1s margin-bottom;
            cursor: grab;
            overflow: hidden;

            &__button {
                appearance: none;
                background: none;
                border: none;
                font-size: inherit;
                padding: 8px;
                border-radius: 3px;
                z-index: 1;

                &:active {
                    background: rgb(0, 0, 0, 0.1);
                }
            }
            
            &__icon {
                font-size: 1.7em;
                transition: ease-in 0.1s opacity;
                z-index: 1;

                &.fa-times {
                    color: tomato;
                }

                &.fa-heart {
                    color: var(--theme-main);
                }
            }

            &__direction {
                opacity: 0.2;
                transition: ease-in 0.1s opacity;
                z-index: 1;
            }

            &__effect {
                width: calc(100% + 24px);
                aspect-ratio: 1;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                scale: 0;
                transition: ease-in 0.1s scale;
            }

            &--right,
            &--left {
                .user-profile__main__swipe__icon {
                    color: white;
                }
                .user-profile__main__swipe__effect {
                    scale: 1;
                }
            }

            &--right {
                .user-profile__main__swipe__icon {
                    &.fa-times {
                        opacity: 0;
                    }
                }

                .user-profile__main__swipe__direction {
                    &--left {
                        opacity: 0;
                    }
                }

                .user-profile__main__swipe__effect {
                    background-color: var(--theme-main);
                }
            }

            &--left {
                .user-profile__main__swipe__icon {
                    &.fa-heart {
                        opacity: 0;
                    }
                }

                .user-profile__main__swipe__direction {
                    &--right {
                        opacity: 0;
                    }
                }

                .user-profile__main__swipe__effect {
                    background-color: tomato;
                }
            }
        }
    }

    &__actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90px;
        margin-bottom: -90px;
        transition: ease-in 0.1s margin-bottom;

        &__button {
            position: relative;
            z-index: 2;
            appearance: none;
            background: var(--theme-background);
            border: solid 1px rgb(240, 240, 240);
            font-size: 2em;
            height: 56px;
            width: 56px;
            border-radius: 48px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $default-shadow;

            &--like {
                color: var(--theme-main);
                i {
                    padding-top: 5px;
                }
            }

            &--dislike {
                color: tomato;
            }
        }

        &--visible {
            margin-bottom: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing;
        padding: 0 $spacing 90px $spacing;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: $spacing;
        padding: $spacing;
        border: solid 1px rgb(240, 240, 240);
        border-radius: $inner-radius;
    }

    app-image {
        border-radius: $inner-radius;
        overflow: hidden;
    }

    &__table {
        border: solid 1px rgb(240, 240, 240);
        border-radius: $inner-radius;

        &__entry {
            padding: 12px 18px;

            &:not(:last-child) {
                border-bottom: solid 1px rgb(240, 240, 240);
            }

            i {
                width: 18px;
                margin-right: 8px;
            }

            &--multiple {
                display: flex;
                overflow-y: auto;
                gap: 36px;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar {
                    display: none;  /* Safari and Chrome */
                }

                .user-profile__table__entry__item {
                    flex-shrink: 0;

                    i {
                        width: 18px;
                        margin-right: 2px;
                    }

                    &:not(:last-child) {
                        &::after {
                            content: '';
                            position: relative;
                            height: 100%;
                            width: 1px;
                            background-color: red;
                        }
                    }
                }
            }
        }

        &:empty {
            display: none;
            margin-bottom: -$spacing;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        &__item {
            border: solid 1px rgb(240, 240, 240);
            padding: 4px 12px;
            border-radius: 24px;
        }
    }

    &__user-actions {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &--info-visible {
        .user-profile__container {
            overflow-y: auto;
        }

        .user-profile__main {
            &__swipe {
                margin-bottom: -70px;
            }
        }
    }

    &--swiping-completed {
        scale: 1.1;
        opacity: 0;
        pointer-events: none;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        $spacing: 12px;
        
        .user-profile__container {
            gap: $spacing;
        }

        .user-profile__content {
            gap: $spacing;
            padding: 0 $spacing 90px $spacing;
        }
    }
}
