@import '../../../../styles/utils';
@import '../../../../styles/variables';

.user-profile {
    @include no-select;

    $spacing: 18px;
    $inner-radius: 10px;

    height: 100%;
    width: 100%;
    background-color: var(--theme-background);
    border: solid 1px rgb(240, 240, 240);
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $spacing;
    display: flex;
    flex-direction: column;
    gap: $spacing;
    box-sizing: border-box;
    box-shadow: $default-shadow;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    &__separator {
        height: 1px;
        width: 100%;
        background-color: rgb(240, 240, 240);
        border: none;
        display: block;
        margin: 0;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: $spacing;
        padding: $spacing;
        border: solid 1px rgb(240, 240, 240);
        border-radius: $inner-radius;
    }

    &__section-title {
        font-size: 0.9em;
        font-weight: 800;
        opacity: 0.45;
        display: flex;
        gap: 6px;
        align-items: center;

        i {
            font-size: 0.8em;
        }
    }

    &__picture {
        width: 100%;
        aspect-ratio: 3/4;
        background-color: rgb(240, 240, 240);
        border-radius: $inner-radius;
        object-fit: cover;
        object-position: center;
    }

    &__table {
        border: solid 1px rgb(240, 240, 240);
        border-radius: $inner-radius;

        &__entry {
            padding: 12px 18px;

            &:not(:last-child) {
                border-bottom: solid 1px rgb(240, 240, 240);
            }

            i {
                width: 18px;
                margin-right: 8px;
            }

            &--multiple {
                display: flex;
                overflow-y: auto;
                gap: 36px;
                -ms-overflow-style: none;  /* Internet Explorer 10+ */
                scrollbar-width: none;  /* Firefox */

                &::-webkit-scrollbar {
                    display: none;  /* Safari and Chrome */
                }

                .user-profile__table__entry__item {
                    flex-shrink: 0;

                    i {
                        width: 18px;
                        margin-right: 2px;
                    }

                    &:not(:last-child) {
                        &::after {
                            content: '';
                            position: relative;
                            height: 100%;
                            width: 1px;
                            background-color: red;
                        }
                    }
                }
            }
        }

        &:empty {
            display: none;
            margin-bottom: -$spacing;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        &__item {
            border: solid 1px rgb(240, 240, 240);
            padding: 4px 12px;
            border-radius: 24px;
        }
    }

    &__main {
        display: grid;
        grid-template-rows: minmax(0, 1fr) auto;
        align-items: stretch;
        height: 100%;
        gap: $spacing;
        flex-shrink: 0;

        &__picture {
            display: block;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: $inner-radius;
            background-color: rgb(240, 240, 240);
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: $spacing;

            &__name {
                font-size: 2.4em;
                font-weight: 800;
                margin: 0;
            }

            &__subtitle {
                margin: 0;
                font-size: 1.3em;
                font-weight: 800;
                opacity: 0.55;
            }
        }
    }

    &__looking-for {
        &__content {
            font-size: 1.4em;
            font-weight: 500;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &__item {
            display: block;
            appearance: none;
            background-color: var(--theme-background);
            border: solid 1px rgb(240, 240, 240);
            font-size: inherit;
            padding: 12px 24px;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            color: var(--theme-background-contrast);
            box-shadow: $default-shadow;

            i {
                margin-right: 6px;
            }
        }
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        $spacing: 12px;


        padding: $spacing;
        gap: $spacing;

        &__section {
            gap: $spacing;
            padding: $spacing;
        }

        &__main {
            gap: $spacing;

            &__info {
                gap: $spacing;
            }
        }
    }
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background: rgb(240, 240, 240);
}