@import '../../../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;

    app-user-profile-form {
        max-width: 600px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding-bottom: 72px;
    }
}